@import url(//db.onlinewebfonts.com/c/961a181da27e7cbc072ec2fb5bbfe2a9?family=Circular+Std+Bold);
@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}
body {
    background-color: var(--corFundoSite) !important;
    font-family: "Circular Std Book" !important;
}

html {
    background-color: var(--cor1) !important;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
:root {
    --corFundoSite: #f4fafb;
    --corPrimaria: #00ADA8;
}
#primaryColor{
    color: var(--corPrimaria);
}
#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 80px;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 6px 5px 10px 3px #02000010;
    z-index: 2;
}
#navbar .active{
    color: black;
    border-bottom: 3px solid #172B3E;
}

#navbar a:hover{
    transition: 2s;
}
#navbar #logo {
    font-family: "Circular Std Bold" !important;
    margin-left: 30px;
    color: #193148;
    font-size: 25px;
}

#navbar #logo #analysis {
    font-size: 20px;
    font-family: "Circular Std Book" !important;
}
#navbar a {
    color: #8498AE;

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Circular Std Bold" !important;
}

#navbar a:hover {
    color: #172B3E;
}

#navbar #title {

    font-family: "Circular Std Bold" !important;
    font-size: 30px;
    padding-bottom: -30px;
}

#navbar #subtitle {

    font-family: "Circular Std Bold" !important;
    font-size: 10px;
    padding-bottom: -30px;
    padding-bottom: -30px;
}
#logoArvore{
    margin-left: 30px;
    margin-right: -40px;
    width: 65px;
    height: 65px;
}