@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url(//db.onlinewebfonts.com/c/961a181da27e7cbc072ec2fb5bbfe2a9?family=Circular+Std+Bold);
@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}


body {
    background-color: var(--corFundoSite) !important;

}

html {
    background-color: var(--cor1) !important;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Circular Std Book" !important;

}

.benford {
    margin-top: 1px;
    margin-left: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33.333333%
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    justify-self: center;

}

li {
    justify-self: center;
    float: left;
    margin-left: 30px;
}



.base {
    padding-top: 100px;
    display: float;
    flex-direction: row;
    background: linear-gradient(to right, rgb(0, 188, 212), rgb(38, 166, 154));
    justify-content: center;
    width: 100%;
    height: 450px;
}


#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 80px;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 6px 5px 10px 3px #02000010;
}

#navbar a {
    color: #8498AE;

    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Circular Std Bold" !important;
}

#navbar a:hover {
    color: #172B3E;
}

#navbar #title {

    font-family: "Circular Std Bold" !important;
    font-size: 30px;
    padding-bottom: -30px;
}

#navbar #subtitle {

    font-family: "Circular Std Bold" !important;
    font-size: 10px;
    padding-bottom: -30px;
    padding-bottom: -30px;
}

#navbar #logo {
    font-family: "Circular Std Bold" !important;
    margin-left: 30px;
    color: #193148;
    font-size: 25px;
}

#navbar #logo #analysis {
    font-size: 20px;

}






.card {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    background-color: inherit;
    border: none;
}

.card .photo {
    margin-left: 50px;
    background-color: var(--corPrimaria);
    width: 350px;
    height: 200px;
    border-radius: 20px;
}

.card .intro {
    margin-left: 40px;
    margin-right: -300px;
    z-index: 1;
    background-color: white;
    border: 1px solid #dbe9f5;
    width: 300px;
    height: 100px;
    border-radius: 20px;
    padding: 10px;
}

.card .descricao {
    margin-left: 40px;
    background-color: white;
    border: 1px solid #dbe9f5;
    width: 600px;
    height: 200px;
    border-radius: 20px;

}

.card .intro h1 {
    font-size: 20px;
    color: var(--corPrimaria);

}

.card .intro h3 {

    font-size: 10px;
    color: #6F7982;
}

.desc {
    font-family: "Circular Std Bold" !important;
    color: #232A2F;

}

.descricao p {
    display: inline-block;
}

#compensador {
    background-color: red;
    display: inline-block;
    width: 260px;
    height: 50%;
}
.explanation{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content{
border-left: 2px solid var(--corPrimaria);
border-right: 2px solid var(--corPrimaria);
padding: 40px;
padding-top: 100px;
width: 60%;
text-align: left;

}
.content h6{
    color: var(--corPrimaria);
}
.explanation p {
    text-align: justify !important;
}
.right{
    float: right;
}
#right{
    text-align: right;
}